<%- include _header.ejs %>
<h1>drop gifs to upload</h1>
<section>
  <article>
  <%- readme %>
  </article>
</section>
<div id="grid">
  <% gifs && gifs.forEach(function(gif){ %>
    <article class="span2">
      <figure data-id="<%= gif.id %>">
        <img src="/c/<%= gif.hash %>"/>
        <div class="progress"></div>
      </figure>
      <div class="controls">
        <a href="#" data-action="play" class="icon-play"></a>
        <a href="#" data-action="fullscreen" class="icon-fullscreen"></a>
        <a href="/<%= gif.hash %>.gif" class="icon-link"></a>
        <% if( user && (gif.user && user.username === gif.user ) || user.mod === true ){%>
        <a href="#" data-action="delete" class="icon-remove"></a>
        <% } %>
      </div>
    </article>
  <% }); %>
</div>
<input type="hidden" name="_csrf" value="<%= csrf %>" />
<%- include _end_scripts %>
<script data-main="/app/config.js" src="/dist/release/require.js"></script>
<%- include _footer.ejs %>

