<%- include _header.ejs %>
<div class="container">
  <div class="row" id="random">
    <article class="span8 offset2">
      <figure>
        <img src="<%= url %>"/>
      </figure>
      <textarea><script src="<%= embed  %>" type="text/javascript"></script></textarea>
    </article>
  </div
</div>
<%- include _end_scripts.ejs %>
<script>
  jQuery(function($){
    $('textarea').click(function(e){
      $(this).select();
    });
  });
</script>
<%- include _footer.ejs %>

